global:
  scrape_interval: 5s
  scrape_timeout: 3s
  evaluation_interval: 5s
scrape_configs:
- job_name: prometheus
  honor_timestamps: true
  metrics_path: /metrics
  scheme: http
  static_configs:
  - targets:
    - prometheus:9090
- job_name: traefik
  honor_timestamps: true
  scheme: http
  static_configs:
  - targets:
    - traefik:9100